.loader-1 {
    height: 30px;
    aspect-ratio: 2.5;
    --_g: no-repeat radial-gradient(farthest-side,#000 90%,#0000);
    background:var(--_g), var(--_g), var(--_g), var(--_g);
    background-size: 20% 50%;
    animation: l43 1s infinite linear; 
}
@keyframes l43 {
    0%     {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
    16.67% {background-position: calc(0*100%/3) 0   ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
    33.33% {background-position: calc(0*100%/3) 100%,calc(1*100%/3) 0   ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
    50%    {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 100%,calc(2*100%/3) 0   ,calc(3*100%/3) 50% }
    66.67% {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 100%,calc(3*100%/3) 0   }
    83.33% {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 100%}
    100%   {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
}

.loader-2 {
    height: 15px;
    aspect-ratio: 5;
    background: radial-gradient(closest-side at 37.5% 50%,#000 94%,#0000) 0/calc(80%/3) 100%;
    animation: l47 .75s infinite;
}
@keyframes l47 {
    100% {background-position: 36.36%}
}

.loader-3 {
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    clip-path: inset(-45px);
    box-shadow: -60px 15px,-60px 15px,-60px 15px;
    transform: translateY(-15px);
    animation: l19 1s infinite linear;
}
@keyframes l19 { 
    16.67% {box-shadow:-60px 15px,-60px 15px,19px 15px}
    33.33% {box-shadow:-60px 15px,  0px 15px,19px 15px}
    40%,60%{box-shadow:-19px 15px,  0px 15px,19px 15px}
    66.67% {box-shadow:-19px 15px,  0px 15px,60px 15px}
    83.33% {box-shadow:-19px 15px, 60px 15px,60px 15px}
    100%   {box-shadow: 60px 15px, 60px 15px,60px 15px}
}

.loader-4 {
    width: 120px;
    height: 20px;
    background: 
        linear-gradient(#000 50%,#0000 0),
        linear-gradient(#0000 50%,#000 0),
        linear-gradient(#000 50%,#0000 0),
        linear-gradient(#0000 50%,#000 0),
        linear-gradient(#000 50%,#0000 0),
        linear-gradient(#0000 50%,#000 0)
        #ddd;
    background-size: calc(100%/6 + 1px) 200%;
    background-repeat: no-repeat;
    animation: l12 2s infinite;
}
@keyframes l12 {
    0%     {background-position: calc(0*100%/5) 100%,calc(1*100%/5)   0%,calc(2*100%/5) 100%,calc(3*100%/5)   0%,calc(4*100%/5) 100%,calc(5*100%/5)   0%}
    16.67% {background-position: calc(0*100%/5)   0%,calc(1*100%/5)   0%,calc(2*100%/5) 100%,calc(3*100%/5)   0%,calc(4*100%/5) 100%,calc(5*100%/5)   0%}
    33.33% {background-position: calc(0*100%/5)   0%,calc(1*100%/5) 100%,calc(2*100%/5) 100%,calc(3*100%/5)   0%,calc(4*100%/5) 100%,calc(5*100%/5)   0%}
    50%    {background-position: calc(0*100%/5)   0%,calc(1*100%/5) 100%,calc(2*100%/5)   0%,calc(3*100%/5)   0%,calc(4*100%/5) 100%,calc(5*100%/5)   0%}
    66.67% {background-position: calc(0*100%/5)   0%,calc(1*100%/5) 100%,calc(2*100%/5)   0%,calc(3*100%/5) 100%,calc(4*100%/5) 100%,calc(5*100%/5)   0%}
    83.33% {background-position: calc(0*100%/5)   0%,calc(1*100%/5) 100%,calc(2*100%/5)   0%,calc(3*100%/5) 100%,calc(4*100%/5)   0%,calc(5*100%/5)   0%}
    100%   {background-position: calc(0*100%/5)   0%,calc(1*100%/5) 100%,calc(2*100%/5)   0%,calc(3*100%/5) 100%,calc(4*100%/5)   0%,calc(5*100%/5) 100%}
}

.loader-5 {
    width: 120px;
    height: 20px;
    border-radius: 20px;
    background:
        repeating-linear-gradient(135deg,#f03355 0 10px,#ffa516 0 20px) 0/0%   no-repeat,
        repeating-linear-gradient(135deg,#ddd    0 10px,#eee    0 20px) 0/100%;
    animation: l3 2s infinite;
}
@keyframes l3 {
    100% {background-size:100%}
}

.loader-6 {
    width: 60px;
    aspect-ratio: 1;
    display: flex;
    animation: l10-0 2s infinite steps(1);
}
.loader-6::before,
.loader-6::after {
    content: "";
    flex: 1;
    animation: 
      l10-1 1s infinite linear alternate,
      l10-2 2s infinite steps(1) -.5s;
}
.loader-6::after {
    --s:-1,-1;
}
@keyframes l10-0 {
    0%  {transform: scaleX(1)  rotate(0deg)}
    50% {transform: scaleX(-1) rotate(-90deg)}
}
@keyframes l10-1 {
    0%,
    5%   {transform:scale(var(--s,1)) translate(0px)   perspective(150px) rotateY(0deg) }
    33%  {transform:scale(var(--s,1)) translate(-10px) perspective(150px) rotateX(0deg) }
    66%  {transform:scale(var(--s,1)) translate(-10px) perspective(150px) rotateX(-180deg)}
    95%,
    100% {transform:scale(var(--s,1)) translate(0px)   perspective(150px) rotateX(-180deg)}
}
@keyframes l10-2 {
    0%  {background:#514b82;border-radius: 0}
    50% {background:#25b09b;border-radius: 100px 0 0 100px}
}

.loader-7 {
    width: 120px;
    height: 20px;
    -webkit-mask: linear-gradient(90deg,#000 70%,#0000 0) left/20% 100%;
    background:
     linear-gradient(#000 0 0) left -25% top 0 /20% 100% no-repeat
     #ddd;
    animation: l7 1s infinite steps(6);
}
@keyframes l7 {
      100% {background-position: right -25% top 0}
}

/* HTML: <div class="loader"></div> */
.loader-8 {
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #000;
    box-shadow: 0 0 0 0 #0004;
    animation: l1 1s infinite;
}
@keyframes l1 {
    100% {box-shadow: 0 0 0 30px #0000}
}

.loader-9 {
    width: 65px;
    aspect-ratio: 1;
    position: relative;
}
.loader-9:before,
.loader-9:after {
    content: "";
    position: absolute;
    border-radius: 50px;
    box-shadow: 0 0 0 3px inset #fff;
    animation: l5 2.5s infinite;
}
.loader-9:after {
    animation-delay: -1.25s;
    border-radius: 0;
}
@keyframes l5 {
    0%    {inset:0    35px 35px 0   }
    12.5% {inset:0    35px 0    0   }
    25%   {inset:35px 35px 0    0   }
    37.5% {inset:35px 0    0    0   }
    50%   {inset:35px 0    0    35px}
    62.5% {inset:0    0    0    35px}
    75%   {inset:0    0    35px 35px}
    87.5% {inset:0    0    35px 0   }
    100%  {inset:0    35px 35px 0   }
}

.loader-10 {
    width: 90px;
    height: 14px;
    box-shadow: 0 3px 0 #fff;
    position: relative;
    clip-path: inset(-40px 0 -5px)
}
.loader-10:before {
    content: "";
    position: absolute;
    inset: auto calc(50% - 17px) 0;
    height: 50px;
    --g:no-repeat linear-gradient(#ccc 0 0);
    background: var(--g),var(--g),var(--g),var(--g);
    background-size: 16px 14px;
    animation:
        l7-1 2s infinite linear,
        l7-2 2s infinite linear;
}
@keyframes l7-1 {
    0%,
    100%  {background-position: 0 -50px,100% -50px}
    17.5% {background-position: 0 100%,100% -50px,0 -50px,100% -50px}
    35%   {background-position: 0 100%,100% 100% ,0 -50px,100% -50px}
    52.5% {background-position: 0 100%,100% 100% ,0 calc(100% - 16px),100% -50px}
    70%,
    98%  {background-position: 0 100%,100% 100% ,0 calc(100% - 16px),100% calc(100% - 16px)}
}
@keyframes l7-2 {
    0%,70% {transform:translate(0)}
    100%  {transform:translate(200%)}
}