@use "@/app/styles/variables.scss" as *;

// Бейдж сверху слева в продукте
.product__badge {
    display: flex;
    flex-direction: column;
    gap: $gap-tiny;

    position: absolute;
    top: $gap-small;
    left: $gap-small;
    z-index: 2;

    .badge {
        width: fit-content;
        padding: 5px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $border-radius-tiny;
        
        font-weight: 600;
        font-size: 11px;
        text-transform: uppercase;
        color: $text-white;

        &.hot {
            background-color: map-get($badge-color, hot);
        }

        &.out {
            background-color: map-get($badge-color, out);
        }

        &.sale {
            background-color: map-get($badge-color, sale);
        }

        &.best {
            background-color: map-get($badge-color, best);
        }

        &.discount {
            background-color: map-get($badge-color, discount);
            color: $text-black;
        }

        // Большой бейдж
        &.big {
            padding: 8px 16px;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 16px;
        }
    }
}

// Если в блоке продукта - padding справа для отступа при сжатии блока
.product .product__badge {
    padding-right: $gap-small;
}

// Большая карточка товара
.product.big .product__badge {
    top: $gap-medium;
    left: $gap-medium;
}